@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
* {
  font-family: 'Cabin', sans-serif;
}

body {
    background-color: #000000; /* Cambia #f0f0f0 al color que desees */
   color: #ffffff;
}

.header-container {
    position: relative;
       
    }

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    z-index: -1; /* Para que el carrusel esté detrás de la barra de navegación */
}

.carousel-container .carousel {
    height: 100%; /* Ajusta la altura del carrusel */
}

/* Ajustes adicionales de estilo si es necesario */

.carousel-indicators button {
    width: 20px !important; /* Ajusta el ancho del botón */
    height: 20px  !important; /* Ajusta la altura del botón */
   
    background-color: #a2e2df7c; /* Cambia el color de fondo de los botones según sea necesario */
    border: none; /* Quita el borde de los botones si lo deseas */

 
}

.carousel-indicators .active {
    background-color: #0bfff3; /* Cambia el color de fondo del indicador activo si lo deseas */
}

/* Ajustes adicionales de estilo si es necesario */


div
.image-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ajusta la altura según sea necesario */
    background-color: aqua;
    height: 40px;

}

