@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
* {
  font-family: 'Cabin', sans-serif;
}

body {
    background-color: #000000; /* Cambia #f0f0f0 al color que desees */
   color: #ffffff;
}
